# Environnement virtuel
venv/
.env/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers temporaires
*.DS_Store
*.log

# Données locales
*.db
data/
uploads/

# Streamlit
.streamlit/

# Jupyter (si jamais vous en utilisez)
.ipynb_checkpoints/

# VSCode
.vscode/

# PyCharm
.idea/
